.story-content {
    position: relative;
}

.guest {
    position: absolute;
    top: 150px;
    left: 50%;
    transform: translateX(-50%);
    font-weight: bold;
    color: #751738;
}

@media (max-width: 767px) {
    .guest {
        top: 21%;
        font-size: 0.85em;
    }
}

@media (max-width: 380px) {
    .guest {
        font-size: 0.8em !important;
    }
}

#wish-form {
    background-color: #f0e8e8 !important;
}

#show-comments {
    background-color: #f0e8e8 !important;
}

body {
    background-color: #eebaba !important;
}

button#btn-submit-comment {
    background-color: #e6235b !important;
}

.accessibilities-section a {
    border-color: #e55353 !important;
    background: #e55353 !important;
}

.weddingdate-section .mini_calendar td #today {
    background-color: #e75e5e !important;
}

/* .video-section {
    background-image: url('../images/wedding/wedding_event_background.JPG');
}

.wishes-section {
    background-image: url('../images/wedding/wedding_event_background.JPG');
    background-size: cover;
} */