.story-content {
    position: relative;
}

.guest {
    position: absolute;
    top: 150px;
    left: 50%;
    transform: translateX(-50%);
    font-weight: bold;
    color: #751738;
}

@media (max-width: 767px) {
    .guest {
        top: 21%;
        font-size: 0.85em;
    }
}

@media (max-width: 380px) {
    .guest {
        font-size: 0.8em !important;
    }
}

#wish-form {
    background-color: #f0e8e8 !important;
}

#show-comments {
    background-color: #f0e8e8 !important;
}

body {
    background-color: #f0c4c4 !important;
}

button#btn-submit-comment {
    background-color: #e6235b !important;
}

.accessibilities-section a {
    border-color: #e55353 !important;
    background: #e55353 !important;
}

.weddingdate-section .mini_calendar td #today {
    background-color: #e75e5e !important;
}

/* .video-section {
    background-image: url('../images/wedding/wedding_event_background.JPG');
}

.wishes-section {
    background-image: url('../images/wedding/wedding_event_background.JPG');
    background-size: cover;
} */


.couple-section {
    background-image: url('../images/wedding/background/couple.png');
    background-size: cover;
    background-origin: border-box;
    background-position: 50% 0%;
    background-repeat: no-repeat;
    background-attachment: scroll;
}

.gallery-section {
    background-image: url('../images/wedding/background/couple.png');
    background-size: cover;
    background-origin: border-box;
    background-position: 50% 0%;
    background-repeat: no-repeat;
    background-attachment: scroll;
}

.video-section {
    background-image: url('../images/wedding/background/videos.png');
    background-size: cover;
    background-origin: border-box;
    background-position: 50% 0%;
    background-repeat: no-repeat;
    background-attachment: scroll;
}

.weddingdate-section {
    background-image: url('../images/wedding/background/calendar.png');
    background-size: cover;
    background-origin: border-box;
    background-position: 50% 0%;
    background-repeat: no-repeat;
    background-attachment: scroll;
}

.event-section {
    background-image: url('../images/wedding/background/calendar.png');
    background-size: cover;
    background-origin: border-box;
    background-position: 50% 0%;
    background-repeat: no-repeat;
    background-attachment: scroll;
}

.footer-section {
    background-image: url('../images/wedding/background/thank.png');
    background-size: cover;
    background-origin: border-box;
    background-position: 50% 0%;
    background-repeat: no-repeat;
    background-attachment: scroll;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.footer-section .title {
    color: #fff ;
    font-family: 'Bonheur Royale', cursive;
    font-size: 5rem;
}

.main_image_area .bg-title {
    bottom: 102px !important;
}

.main_image_area .wrap-name {
    color: #cb3e19 !important;
}